# |
# | ······ VirtualEnv
# |
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# |
# | ······ Packer
# |
# Cache objects
packer_cache/
output-virtualbox-iso/
output-vmware-iso/

# |
# | ······ Build
# |
build/*
!build/README.TXT
